<h3> Edit Profile </h3>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
      <div class="error_messages">
        <h5>Form is invalid</h5>
        <% for message in @user.errors.full_messages %>
          <div class="messages"><%= message %></div>
        <% end %>
      </div>
  <% end %>
  <div class="row">
    <div class="input-field col s6 offset-s1"> 
      <%= f.label :first_name, :class => "active" %>
      <%= f.text_field :first_name %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s1">
        <%= f.label :last_name, :class => "active" %>
        <%= f.text_field :last_name %>
      </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s1">
        <%= f.label :email, :class => "active" %>
        <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s1">
      <%= f.label :password, :class => "active" %>
      <%= f.password_field :password %>
    </div>
  </div> 
  <div class="row">
    <div class="input-field col s6 offset-s1">
      <%= f.label :password_confirmation, :class => "active" %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="row">
      <div class="input-field col s6 offset-s1">
          <div class="input-field file-field">
              <div class="btn">
                  <span> Upload an image </span>
                  <%= f.file_field :image %><br><br>  
              </div>
              <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
              </div>
          </div>
      </div>
  </div>
  <div class="upload_submit">
    <%= f.submit "Update User", :class => "waves-effect waves-light btn" %>
  </div>
<% end %>