<p id="notice"><%= notice %></p>
 
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="space">
                <%= image_tag("spinner.jpg", :class => "img-responsive") %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="space">
                <%= image_tag("set.png", :class => "img-responsive") %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="space">
                <%= image_tag("puppy.jpg", :class => "img-responsive") %>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="space">
                <%= image_tag("ring.jpg", :class => "img-responsive") %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="space">
                <%= image_tag("flower.jpg", :class => "img-responsive") %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="space">
                <%= image_tag("candle.jpg", :class => "img-responsive") %>
            </div>
        </div>
    </div>
</div>