<h3>Sign Up</h3>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
      <div class="error_messages">
        <h5>Form is invalid</h5>
        <% for message in @user.errors.full_messages %>
          <div class="messages"><%= message %></div>
        <% end %>
      </div>
  <% end %>
  <div class="row">
    <div class="input-field col s6 offset-s1"> 
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :class => "active" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s1">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, :class => "active" %>
      </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s1">
        <%= f.label :email %>
        <%= f.text_field :email, :type => "email", :class => "validate" %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s1">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s1">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s5">
      <%= f.file_field :image %><br><br>
    </div>
  </div>
  <div class="upload_submit">
    <%= f.submit "Create User", :class => "waves-effect waves-light btn" %>
  </div>
<% end %>