<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="space">
                <li>
                    <h4><%= link_to  "Edit Profile", edit_user_path(current_user) %></h4>
                    <% if @user.image.exists? %>
                        <%= image_tag @user.image.url %> 
                    <% else %>
                        <%= image_tag("paint.jpg", :class => "img-responsive") %>
                    <% end %>
                </li> 
            </div>
        </div>
        <div class="col-sm-4">
            <div class="space">
                <li>
                <h4> Manage Products </h4>

                    <%= image_tag("set.png", :class => "img-responsive") %>
                </li>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="space">
                <li>
                <h4> <%= link_to "Delete Account", destroy_path(current_user), method: :delete %></h4>
                    <%= image_tag("puppy.jpg", :class => "img-responsive") %>  
                </li>
            </div>
        </div>
    </div>
</div>