<div class="container">
    <div class="row"
        <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <div class="col s3 offset-s3">
                        <h4><%= link_to "Edit Profile", edit_user_path(current_user) %></h4>
                    </div>
                    <div class="col s3">
                        <% if @user.image.exists? %>
                            <%= image_tag @user.image.url, :class => "img-responsive", :width => "275", :height => "275" %> 
                        <% else %>
                            <%= image_tag("paint.jpg", :class => "img-responsive", :width => "275", :height => "275") %>
                        <% end %>
                    </div>
                </div>
            </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col s3 offset-s3">
                    <h4> <%= link_to "Manage Products", products_path %></h4>
                </div>
                <div class="col s3">
                    <%= image_tag("ring.jpg", :class => "img-responsive", :width => "275", :height => "275") %>
                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <div class="row">
                <div class="col s3 offset-s3">
                    <h4> <%= link_to "Order History", orders_path(@order) %></h4>
                </div>
                <div class="col s3">
                    <%= image_tag("flower.jpg", :class => "img-responsive", :width => "275", :height => "275") %>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="row">
                <div class="col s3 offset-s3">
                    <h4> <%= link_to "Delete Account", destroy_path(current_user), method: :delete %></h4>
                </div>
                <div class="col s3">
                    <%= image_tag("puppy.jpg", :class => "img-responsive", :width => "275", :height => "275") %>   
                </div>
            </div>
        </div>
  </div>
</div>