<h3> Edit Product </h3>

<%= form_for @product do |f| %>
  <div class="row">
    <div class="input-field col s6 offset-s1"> 
      <%= f.label :title, :class => "active" %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6 offset-s1">
        <%= f.label :price, :class => "active" %>
        <%= f.text_field :price %>
      </div>
  </div>

  <div class="row">
    <div class="input-field col s6 offset-s1">
        <%= f.label :quantity, :class => "active" %>
        <%= f.text_field :quantity %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6 offset-s1">
      <%= f.label :description, :class => "active" %>
      <%= f.text_field :description %>
    </div>
  </div>
  
  <div class="row">
    <div class="input-field s5 col">
      <%= f.file_field :image %><br><br>
    </div>
  </div>
 
  <div class="upload_submit">
    <%= f.submit %>
    <button id="delete">
      <%= link_to "Delete Product", product_path(@product), method: :delete %> 
    </button>
  </div>
<% end %>


    


