<h3> Edit Product </h3>

<%= form_for @product do |f| %>
  <div class="row">
    <div class="input-field col s6 offset-s1"> 
      <%= f.label :title, :class => "active" %>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s1">
        <%= f.label :price, :class => "active" %>
        <%= f.number_field :price, :value => (number_with_precision(f.object.price, :precision => 2.00) || 0) %>
      </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s1">
        <%= f.label :quantity, :class => "active" %>
        <%= f.text_field :quantity %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6 offset-s1">
      <%= f.label :description, :class => "active" %>
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s3">
      <%= f.file_field :image %><br><br>
    </div>
  </div>
  <div class="upload_submit">
    <%= f.submit "Update Product", :class => "waves-effect waves-light btn" %>
  </div>   
<% end %>