<h3> Your Products </h3>

<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Filter</a>
<p id="notice"><%= notice %></p>

<div class="row">
    <div class="flex-inner">
        <ul id='dropdown1' class='dropdown-content'>
            <li><%= link_to 'All', products_path(filter: 'All') %></li>
            <li class="divider"></li>
            <li><%= link_to 'Clothing', products_path(filter: 'Clothing') %></li>
            <li class="divider"></li>
            <li><%= link_to 'Jewelry', products_path(filter: 'Jewelry') %></li>
            <li class="divider"></li>
            <li><%= link_to 'Crafts', products_path(filter: 'Crafts') %></li>
            <li class="divider"></li>
            <li><%= link_to 'Entertainment', products_path(filter: 'Entertainment') %></li>
            <li class="divider"></li>
            <li><%= link_to 'Home', products_path(filter: 'Home') %></li>
            <li class="divider"></li>
            <li><%= link_to 'Bathroom', products_path(filter: 'Bathroom') %></li>
            <li class="divider"></li>
            <li><%= link_to 'Kids', products_path(filter: 'Kids') %></li>
            <li class="divider"></li>
            <li><%= link_to 'Inactive', products_path(filter: 'Inactive') %></li>    
        </ul>
    </div>
</div>

<% @products.each do |product| %>
    <div class="row container valign-wrapper">
        <div class="col s5">
            <h6><%= link_to product.title, edit_product_path(product) %></h6>
            <%= image_tag(product.image.url, :class => "img-responsive", :width => "275", :height => "275") %>
            <br>
        </div>
        <div class="col s12 l6" id="info">
                <div class="row">
                    <div class="col s12">
                        <label class="show"> Price </label>
                        <input disabled value="$<%= '%.2f' % product.price %>" id="disabled" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label class="show"> Quantity </label>
                        <input disabled value="<%= product.quantity %>" id="disabled" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <label class="show"> Description </label>
                        <input disabled value="<%= product.description %>" id="disabled" type="text" class="validate"> 
                    </div>
                </div>
        </div>
    </div>

    <% if product.inactive %>
        <div class="submit_deactivate">
            <%= link_to "Activate", activate_path(product), method: :patch, :class => "waves-effect waves-light btn" %> 
        </div>
    <% else %>
        <div class="submit_deactivate">
            <%= link_to "Deactivate", product_path(product), method: :delete, :class => "waves-effect waves-light btn" %> 
        </div>
    <% end %>

<% end %>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });

    $('.dropdown-button').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrain_width: true, 
        hover: false, 
        gutter: 0, 
        belowOrigin: false 
        }
      );
</script>
