<h3> Upload </h3>

<%= form_for @product do |f| %>
    <% if @product.errors.any? %>
        <div class="error_messages">
            <h5>Form is invalid</h5>
            <% for message in @product.errors.full_messages %>
            <div class="messages"><%= message %></div>
            <% end %>
        </div>
    <% end %>
    <div class="row">
        <div class="input-field col s6 offset-s1">
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 offset-s1">
            <%= f.label :price %>
            <%= f.number_field :price, required: true, :step => "0.01" %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 offset-s1">
            <%= f.label :quantity %>
            <%= f.text_field :quantity %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 offset-s1">
            <%= f.select :description, options_for_select([['Clothing'], ['Jewelry'], ['Crafts'], ['Entertainment'], ['Home'], ['Bathroom'], ['Kids']], params[:description]) %>
            <%= f.label :description %>
        </div>
    </div>
    <div class="row">
      <div class="input-field s5 col">
        <%= f.file_field :image %><br><br>  
      </div>
    </div>
    <div class="upload_submit">
        <%= submit_tag "Upload", :class => "waves-effect waves-light btn" %>
    </div>
<% end %>

<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>