<h3> Upload </h3>

<%= form_tag user_products_path(current_user) do %>
    <div class="row">
        <div class="input-field col s6 offset-s1">
            <%= label_tag :title %>
            <%= text_field_tag :title %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 offset-s1">
            <%= label_tag :price %>
            <%= text_field_tag :price %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 offset-s1">
            <%= label_tag :quantity %>
            <%= text_field_tag :quantity %>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 offset-s1">
            <%= label_tag :description %>
            <%= text_field_tag :description %>
        </div>
    </div>
    <div class="row">
      <div class="input-field s5 col">
        <%= file_field_tag :image %><br><br>
      </div>
    </div>

    <div class="actions"><%= submit_tag "Upload" %></div>
<% end %>


  
 
