<h3> Product </h3>

<div class="row container valign-wrapper">
    <div class="col s5">
        <h6><%= @product.title %></h6>
        <%= image_tag(@product.image.url, :class => "img-responsive", :width => "275") %>
        <br>
    </div>
    <div class="col s12 l6" id="info">
        <div class="row">
            <div class="col s12">
                <label class="show"> Price </label>
                <input disabled value="$<%= '%.2f' % @product.price %>" id="disabled" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label class="show"> Quantity </label>
                <input disabled value="<%= @product.quantity %>" id="disabled" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label class="show"> Description </label>
                <input disabled value="<%= @product.description %>" id="disabled" type="text" class="validate"> 
            </div>
        </div>
    </div>
</div>

<div class="upload_submit">
    <%= link_to "Add to Cart", product_line_items_path(@product), method: :post, :class => "waves-effect waves-light btn" %>
</div>