<!DOCTYPE html>
<html>
  <head>
    <title>Trendsy</title>
    <%= csrf_meta_tags %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fresca|Indie+Flower" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <%= link_to root_path, id: "logo" do %>
        <div class="brand-logo">
          <i class="material-icons">home</i>
        </div>
      <% end %>
      <ul class="right">
        <li>
          <% if current_user %>
              <%= link_to new_product_path, id: "logo" do %>
                  <i class="material-icons">file_upload</span></i>
              <% end %>
          <% end %>
        </li>
        <li>
            <% if current_user %>
              <%= link_to order_path(current_user.cart), id: "logo" do %>
                <i class="material-icons">shopping_cart</span></i>
              <% end %>
            <% end %>
        </li>
        <li>
          <% if current_user %>
              <%= link_to profile_path(current_user), id: "logo" do %>
                <i class="material-icons">settings</span></i>
              <% end %>
            <% end %>
        </li>
      </ul>
    </div>
  </nav>

    <p id="welcome">
      <% if current_user %>
        Welcome, <%= current_user.first_name %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Log Out', session_path('dummy'), method: :delete %>
      <% else %>
        <%= link_to 'Log In', login_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </p>

    <h1> Trendsy </h1>

    <%= yield %>
  </body>
</html>
